body{
    background-color: lightgoldenrodyellow;
    height: 100%;
    margin: 0px;
    border:0px;
    padding: 0px;
}
header{
    min-height: 100px;
    width: 100%;
    background-color: lightskyblue;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: lightskyblue;
    padding: auto;
    text-align: center;
}
h1{
    background-color: whitesmoke;
    color: lightslategrey;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 100px;
    margin: auto;
}
.container{
    width: 90%;
    margin: 0 auto;
    background-color: lightcoral;
    min-height: 600px;
}
/*divs*/
#div1{
    background-color: yellow;
    min-height: 563px;
    min-width: 80%;
    float: left;
}
#div2{
    background-color: green;
    min-height: 563px;
    min-width: 20%;
    float: right;
}
#div3{
    clear: both;
    background-color: blue;
    min-height: 50px;
}