body{
    background-color: lightgoldenrodyellow;
    height: 100%;
    margin: 0px;
    border:0px;
    padding: 0px;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: lightskyblue;
    text-align: center;
    border: solid;
}
h1{
    background-color: rgba(10, 29, 70, 0.356);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #111111;
    margin: auto;
}
.container{
    clear: both;
    width: 90%;
    margin: 0 auto;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 30px;
}
header{
    background-color: rgba(94, 141, 136, 0.438);
    min-height: 100px;
    width: 100%;
    max-width: 100%;
}
#logo{
    float:left;
}
#menu{
    float:right;
    padding-right: 50px;
}
#menu a{
    text-decoration: none;
    color: #111;
    text-shadow: 1px 1px #111111;
    padding-right: 30px;
}
/*divs*/
#Principal{
    clear: both;
    background-image: url('imgs/data\ tech.jpg');
    background-size: 100%;
    min-height: 500px;
    padding: 0 50px 0 50px;
}
#div1{
    min-height: 563px;
    width: 80%;
    float: left;
    text-shadow: 1px 1px 1px #111111;
}
#div2{
    background-color: green;
    min-height: 563px;
    min-width: 20%;
    float: right;
}
#div3{
    clear: both;
    background-color: blue;
    min-height: 50px;
}